.button-create {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 176, 65);
    box-shadow: .4rem .4rem 3rem rgba(171, 175, 177, 0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
  
    transform: rotate(0);
    transition: .5s ease-in-out;
  }
  
  .button-create:hover {
    transform: rotate(360deg);
  }