.TodoSearch {
    width: 100%;
    display: flex;
    align-items: center;
}

.InputSearch {
    width: 50%;
    height: 2rem;
    border-radius: .5rem;
    border: .1rem solid lightgrey;
    padding: .5rem 1rem;
    margin: 2rem auto;
    box-shadow: .1rem .1rem .5rem .1rem lightgrey;
}

.InputSearch:focus {
    outline-color: #F5B041;
    background-color: antiquewhite;
}